старое/chat_gpt-4.db
chat_gpt3.5_turbo.db
test.ipynb
__pycache__/BD.cpython-311.pyc
__pycache__/Parametrs.cpython-311.pyc
__pycache__/Telegram.cpython-311.pyc
старое/bot_0.1_telegram stream.py
старое/bot_0.1_telegram.py
старое/chat_gpt-3.5-turbo.db
